body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;  margin: 2em;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  color: var(--main);
  background-color: var(--bg);
  font-size: 16px;
  margin: 20px;
  user-select: none;
}

:root {
  --radius: 20px;
  --padding: 20px;
  --main: black;
  --bg: white;
  --accent: rgba(0,0,0,.25);
}

.light {
  --main: black;
  --bg: white;
  --accent: rgba(0,0,0,.25);
}

.dark {
  --main: white;
  --bg: black;
  --accent: rgba(255,255,255,.25);
}

.add:active, .listadd:active, #addcolor:active, #delete:active, #x:active {
  opacity: .4;
}

#addcolor, #delete, .plusshow, .colorlist li, .share, .listadd, .add, .theme, #x {
  cursor: pointer;
}

.deleteshow, .plusshow, .shareshow {
  opacity: 1!important;
  pointer-events: all!important;
  transform: translateY(0px);
}

#hidden {
  display: none;
}

.min {
  transform: scale(.5)
}

a {
  color: var(--main);
  text-decoration: none;
}

h1 {
font-size: 20px;
  margin: 0;
  display: inline-block;
  outline: none;
}

h1, .deskadd {
  padding: var(--padding)
}

.colorlist {
  padding: var(--padding);
  animation: height 1s;
  animation-timing-function: cubic-bezier(.02,.9,.58,.99);
}

#addcolor, #delete {
  font-size: 20px;
  border: 1px solid var(--accent);
  padding: 10px;
  border-radius: var(--radius);
}

#delete {
  opacity: 0;
  pointer-events: none;
  border: 1px solid crimson;
}

#inserthex {
    width: 100px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid var(--accent);
    outline: none;
    text-align: center;
    border-radius: 0px;
    background-color: transparent;
    color: var(--main);
}

#colorpreview {
    width: 100%;
    height: 46px;
    border-radius: 9px;
    background-color: #0593ff;
    margin: auto;
}

.colorpicker {
  height: 100%;
  right: 0;
  top: 0;
  width: 260px;
  background-color: var(--bg);
  border-left: 1px solid var(--accent);
  position: fixed;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transform: translateX(300px);
  transition: .3s;
  z-index: 10;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.colorpickershow {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  transform: translateY(0px);
}

#x {
  float: right;
  font-size: 25px;
  line-height: 0;
}

.deskadd {
  float: right;
  transform: translateY(4px)
}

.listadd {
  float: right;
  font-size: 40px;
  width: 40px;
  text-align: center;
  color: var(--accent);
  transform: translateY(-4px);
}

.listadd:hover {
  color: var(--main);
}

.success {
  animation: success .3s;
  pointer-events: none;
}

.colorlist li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  animation: appear .2s; 
  animation-timing-function: cubic-bezier(.17,.67,.51,1.28);
  margin: 1px;
  transition: .2s;
}

ul {
  list-style-type: none;
  margin: 0;
  border-top: 1px solid var(--accent);
  font-size: 0;
  margin: -1px;
}

.share {
  position: fixed; 
  bottom: 23px;
  right: 20px;
  padding: var(--padding);
  z-index: 5;
  opacity: 0;
  background-color: var(--bg);
  border-radius: var(--radius);
}

.theme {
  position: fixed; 
  bottom: 20px;
  left: 20px;
  padding: var(--padding);
  z-index: 5;
  background-color: var(--bg);
}

@media screen and (max-width: 600px) {
:root {
    --radius: 20px;
  --padding: 10px;
}
  
  .colorlist li {
    width: 50px;
    height: 50px;
    border-radius: var(--radius);
  }
  
  .colorlist {
  animation: height 3s;
  animation-timing-function: cubic-bezier(.02,.9,.58,.99);

}
  
}

@media screen and (max-width: 250px) {
  
  :root {
  --padding: 5px;
  }
  
  .colorpicker {
    width: 100%;
  }
  
  .colorlist li {
    height: 20px;
    width: 20px;
    border-radius: 8px;
  }
  
  .listadd {
    font-size: 20px;
    transform: translateY(-3px);
    width: 12px;
  }
  
  body {
    font-size: 10px;
    margin: 8px;
  }
  
  .theme {
    bottom: 5px;
    left: 5px;
  }
  
  .share {
    bottom: 5px;
    right: 5px;
  }
  
  h1 {
    font-size: 13px;
  }
  
  #addcolor, #delete, #inserthex {
    font-size: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
  --main: white;
  --bg: black;
  --accent: rgba(255,255,255,.25);
  }
}

@keyframes appear {
  0%   { transform: scale(.8) }
  100% { transform: scale(1) }
}

@keyframes success {
  0%   { background-color: #0593ff; color: white; transform: scale(1.2)}
  100% { background-color: transparent; color: var(--main); transform: scale(1)}
}

@keyframes height {
  0%   { max-height: 0px;}
  100% { max-height: 150px;}
}